/* Archivo App.css */

.LocationCard__body {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center;
    justify-content: center;
    background-color: #072226;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    padding: 1rem;
    margin: 2rem auto;
    max-width: fit-content;
  }
  
  .LocationCard__list {
    color: whitesmoke;
    padding: 1em;
  }
  
  .LocationCard__name {
    font-size: 1.5rem; 
    margin-bottom: 1rem;
    color: #7bb924;
    text-align: center;

  }
  
  .LocationCard__body > ul {
    display: flex;
    flex-direction: row; 
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  .LocationCard__item {
    font-weight: bold;
    margin-right: 10px; 
  }
  
  .LocationCard__value {
    margin-left: 10px;
  }
  