@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300;400;600&family=Montserrat:wght@200;600&display=swap');

*{
    box-sizing: border-box;

}
html {
    font-family: 'Montserrat', sans-serif;
    background-color: #05292e;
    color: whitesmoke;
}
body {
    margin: 0;
}
h1, h2, h3, p, ul, li, hr {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    list-style: none;
    padding-left: 0;
}
input, button {
    font-family: Kalnia, sans-serif;
    font-weight: 600;

}
button{
    cursor: pointer;
}